html {
  font-family: fantasy;
  font-size: max(1em, 4vmax);
}

body {
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
  overflow-wrap: anywhere;
}

article {
  line-height: 1.618;
}

li {
  list-style: circle;
  margin: 1em auto;
}

li:last-child {
  list-style: disc;
}

h1 {
  margin: 0;
  font-weight: inherit;
}

:any-link {
  text-decoration-style: dotted;
  text-decoration-thickness: .1em;
}

:focus {
  text-decoration-style: solid;
  outline-style: double;
  outline-width: thick;
}

:hover {
  text-decoration-style: double;
}
