:root {
  transition: 360ms;
  background: #318;
  color: hotpink;
}

::selection {
  background: turquoise;
  color: #111;
}

:any-link {
  transition: 180ms;
  color: inherit;
}

:focus {
  outline-color: turquoise;
}
